body .padre {
  display: grid;
  grid-template-areas: "nav nav nav" "card1 card2 card3" "card4 card5 card6" "card7 card8 card9";
  grid-template-columns: 4, 1fr 1fr 1fr;
  grid-template-rows: 3, 1fr 1fr 1fr;
}
body .padre .card {
  height: 73%;
  width: 100%;
}
body .padre .card .card-img-top {
  height: 70%;
}
body .padre .card .card-text {
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
body .padre .card1 {
  display: grid;
  grid-area: card1;
}
body .padre .card2 {
  display: grid;
  grid-area: card2;
}
body .padre .card3 {
  display: grid;
  grid-area: card3;
}
body .padre .card11 {
  display: grid;
  margin: auto;
  padding: 2px;
  border: solid black 2px;
  box-shadow: 10px 5px 5px black;
  border-radius: 8px;
}
body .padre .card11 .card1 {
  display: grid;
  grid-area: card1;
}
body .padre .card11 .card2 {
  display: grid;
  grid-area: card2;
}
body .padre .card11 .card3 {
  display: grid;
  grid-area: card3;
}
body h2 {
  font-size: xx-large;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  padding: 20px;
}
body h4 {
  font-size: xx-large;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  padding: 20px;
}
body .sect {
  width: 100%;
}
body .welcome {
  width: 100%;
  height: 50%;
}
body main {
  display: grid;
  place-content: center;
}
body .formulario {
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 1rem;
  font-style: "Montserrat", sans-serif;
  width: auto;
  border: black solid 4px;
  border-radius: 20px;
}
body .NosotrosCarta {
  width: auto;
  opacity: 90%;
  border: solid black 5px;
  border-radius: 20px;
  font-size: xx-large;
  color: #252525;
}